.mens{
    background-color: rgba(245, 250, 252, 0.829);
}
.row{
    background-color:white;
    border-radius: 10px;
    box-shadow:0px 2px 3px rgb(133, 165, 165);
}
.text{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

#img1{
   width: 100px;
    border: none;
    page-break-inside: avoid;
    vertical-align: middle; 
    position:inherit;
    left: 50px;  
}
#img1:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#text1{
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
    line-height: 10px;
    letter-spacing: 0px; 
}
.card{
    border: none;
    width: 100%;
}
img{
    width: 100%;
}
#text2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
#img2:hover{
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
p{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
#text3{
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 249, 249);
    border: solid 1px #d1d1d1;
    background-color: rgba(70, 68, 68, 0.938);
    border-radius: 10px;
    padding:20px 45px;
    line-height: 25px;
    margin-bottom: 10px;
}
#text3:hover{
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

 #img3:hover{
     -ms-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
 }
