
.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#00aa8a), to(#050220));
    background: linear-gradient(to right,#00a389 , #00aa8a)
    
}
.mycard{
    width:600px ;
    height:300px ;
    margin-top: 0px;
    
    padding:50px ;
    padding-left: 30px;
    padding-bottom: 500px;
 
    position:relative ;
    left: -60px;
    top: -100px;
    bottom:-200px ;

    
    
    
    
    
}

 .card1 h1{
    
     
     position: relative;
     left:60px ;
     top:60px ;
     font-size:30px ;
     
 }
 .text{
     padding-bottom: 50px;
     padding-right:20px ;
     position: relative;
     
     top:10px ;
 }
 .card1{
     border-right: none;
     border-left: none;
     border-top: none;
     border-bottom:none;
     
     background: #00a389;
     width: 300px;
     height: 450px;
     border-radius: 18px;
     background: linear-gradient(45deg #00a389,#00a389 ) ;
      border-radius:15px ;
      display: flex;
      height:500px ;
      
      justify-content: center;
      align-items: center;
      font-size:15px ;
     margin-top: 30px;
    padding-right: 50px;
     position:relative;

     top:-10px;
     left:30px ;
    
      
 }
 #bg{
     
     box-shadow:1px 1px  1px 1px black ;
     border-radius:10px ;
     margin-top:20px ;
     position: relative;
     left: 10px;
     
     right:100px ;
     width:1000px ;
     height:550px ;
     
     
 }
 
 .card{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom:none;
 }
.card-header{
    margin-top: 10px;
    border: none;
    border-radius: none;
    
    box-shadow: none;
    background:none ;
    position: relative;
    top:60px ;
    left:150px ;
    
}
 
.container{
    margin-top: 10px;
    
    margin: auto;
    
    border-radius: 10px;
    background: none;
     position: absolute; 
     max-width: 1000px;
     height:600px ;
     margin: auto;
     top:50% ;
     left:50% ;
     transform:translate(-50% ,-50%) ;
     
    
}

.img{
    width:150px ;
    margin-top:250px ;
    
    border-radius:20px ;
    position: relative;
    left:20px ;
    
}
.form-control{
    border-bottom:1px solid black  ;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    font-size:12px ;
    font-weight:400;
    color: rgb(14, 13, 13);
    position: relative;
    padding:20px ;
    padding-right:30px ;
    

}
.form-group{
    font-size:15px ;
    
} 