<ng-container *ngIf="cart.cartItems.length !=0">
    <div class="container" *ngIf="length">
        <div id="cart-content">
            <h3>your cart items</h3>
            <div id="pro-table">
                <table>
                    <thead>
                        <tr>
                            <th [style.width]="'300px'">Name</th>
                            <th [style.width]="'100px'">Quantity</th>
                            <th [style.width]="'100px'">Image</th>
                            <th [style.width]="'100px'">Price</th>
                            <th [style.width]="'100px'">Amount</th>
                            <th [style.width]="'100px'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of cart.cartItems">
                            <td>{{x.product.metaTitle}}</td>
                            <!-- <td><img src="{{x.image}}" alt=""></td> -->
                            <td class="qunatityDiv">
                                <!-- <h4><span><img src="../../../assets/minus-square-regular.svg"  (click)="minusQuantity(x.id)" alt=""></span>
                                    {{x.quantity}}
                                    <span><img src="../../../assets/plus-square-regular.svg" (click)="addQuantity(x.id)" alt=""></span></h4> -->
                                <select *ngIf="x.quantityBool" (change)="change($event,x.id)"
                                    [(ngModel)]="x.quantityChange">
                                    <option value="0">0<span>:Delete</span></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10+">10+</option>
                                </select>
                                <div *ngIf="!x.quantityBool">
                                    <input value={{x.quantity}} [(ngModel)]="x.quantity" type="number" name="changeQuantity"
                                        #changeQuantity id="changeQuantity">
                                    <button (click)="changeQuantityHere(x.quantity,x.id)">update</button>
                                </div>
                            </td>
                            <td><img src="{{x.product.imageUrls[0].imgUrl}}" alt=""></td>
                            <td>
                                {{x.product.price-x.product.discount | currency:"INR"}}
                            </td>
                            <td>{{(x.product.price-x.product.discount) * x.quantity | currency: "INR"}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteItem(x.id)">Delete</button>
                                <!-- <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> -->
                            </td>
                    </tbody>
                </table>
                <div>
                    <h4>Total bill amount to be paid: {{total |currency:"INR"}}</h4>
                    <!-- <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td> --> <br>
                    <!-- <button class="btn btn-success" [routerLink]="['/checkout']">Checkout</button> &nbsp; -->
                    <!-- <button class="btn btn-success" (click)="chechOutCart()">Checkout</button> &nbsp; -->
                    <button routerLink="/products" class="btn btn-primary">Shop More</button>
                </div>
            </div>
            <h4 class="text-right">Total bill amount to be paid : <span class="text text-primary">{{total
                    |currency:"INR"}}</span></h4>
            <div class="text-right">
                <button class="btn btn-success" (click)="initCart()">Procced to Buy</button> &nbsp;
                <button routerLink="/products/All" class="btn btn-primary">Shop More</button>
            </div>
        </div>
    </div>
    </ng-container>
    <!-- 
    <div id="cart-content">
        <h3>Products You have Purchased</h3>
        <div id="pro-table">
           <table>
               <thead>
               </tbody>
           </table>
        </div>
       <div id="amounter"> Total bill amount to be paid:  {{total  | number : '1.2-2' | currency:"USD"}} </div>
       <div id="pay-button"><button className="btn" (click)="placeOrder()">
       Place the order</button></div>
       <br> <br> <br> <br> <br> <br> <br>
    </div> -->