

   
    <footer >

        <header>

    
          </header>
        <div class="container">

            <div class="sec aboutus">

                <h4 >Get To Know Us</h4>

                <p>Aboutus</p>

                <p>Carrers</p>

                <p>Press release</p>

                <p>Gift a smile</p>

                </div>

                

            <div class="scce" >

            

                

            <div class="sci">

                <h4 > Connect With Us</h4>

                <p>Facebook</p>

                <p>Twitter</p>

                <p>Instagram</p>

                

                </div>

        </div>

        <div class="seec" >

            

                

            <div class="sm">

                <h4 > Make Money With Us</h4>

                <p>Sell on Here</p>

                <p>Advitise Your Products</p>

                <p>Become An Affiliate</p>

                <p>Dstibute Your Products</p>

                <P> Pay on Marchants</P>

                

                </div>

        </div></div>  </footer>