 
    <footer >
        <header>
          </header>
        <div class="container">

            <div class="sec aboutus">

                <h4 >Get To Know Us</h4>

                <p>Aboutus</p>

                <p>Carrers</p>

                <p>Press release</p>

                <p>Gift a smile</p>

                </div>
            <div class="scce" >
            <div class="sci">

                <h4 > Connect With Us</h4>

                <p>Facebook</p>

                <p>Twitter</p>

                <p>Instagram</p>
                </div>
        </div>

        <div class="seec" >
            <div class="sm">

                <h4 > Make Money With Us</h4>

                <p>Sell on Here</p>

                <p>Advitise Your Products</p>

                <p>Become An Affiliate</p>

                <p>Dstibute Your Products</p>

                <P> Pay on Marchants</P>
                </div>

        </div></div>  
</footer> 

 

   
<!-- <footer class="page-footer  ">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-4">
            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="text-light h6">DashBoard</a>
                </h6>
            </div>
            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="text-light h6">About us</a>
                </h6>
            </div>
            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="text-light h6">charts</a>
                </h6>
            </div>
            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="text-light h6">Help</a>
                </h6>
            </div>
            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="text-light h6">Contact</a>
                </h6>
            </div>
        </div>
        
        <hr class="text-light">
        <div class="row d-flex text-center justify-content-center mb-md-10">
            <div class="col-md-8 col-12 mt-1">
                <p style="color: aliceblue; font-size: inherit;">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center d-flex justify-content-center ">
                    <a class="soc-icon " href="https://www.facebook.com/">
                        <mat-icon class="icon1">facebook</mat-icon>
                    </a>
                    <a class="soc-icon" href="https://twitter.com/login?lang=en">
                        <mat-icon class="icon2">mail</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-light">
    <div class="footer-copyright text-center py-2 text-danger h6">&copy; 2021 Copyright :
        <a href="https://mdbootstrap.com/" class="text-light h6"> NagarajuThota</a>
    </div>
</footer> -->
