<div class="container mt-3">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i>
                        +1598675986 </div>
                    <div class="col"> <strong>Status:</strong> <br> Picked by the courier </div>
                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                </div>
            </article>
            <div class="track ">
                <div class={{step_1}}>
                    <span class="icon">
                        <mat-icon class="text-danger pt-2">check</mat-icon>
                    </span>
                    <span class="text">Order confirmed</span>
                </div>
                <div class={{step_2}}>
                    <span class="icon">
                        <mat-icon class="text-danger pt-2">apartment_2</mat-icon>
                    </span>
                    <span class="text">Picked </span>
                </div>
                <div class="{{step_3}}">
                    <span class="icon ">
                        <mat-icon class="text-danger pt-2">local_shipping_2</mat-icon>
                    </span>
                    <span class="text"> On the way </span>
                </div>
                <div class={{step_4}}>
                    <span class="icon">
                        <mat-icon class="text-danger pt-2">inventory_2</mat-icon>
                    </span>
                    <span class="text">Delivery</span>
                </div>
                <div class={{step_4}}>
                    <span class="icon">
                        <mat-icon class="text-danger pt-2">inventory_2</mat-icon>
                    </span>
                    <span class="text">Out Of Delivery</span>
                </div>
            </div>
        </div>
    </article>
</div>