.navbar{
    /* background:rgba(194, 42, 224, 0.89); */
    background-color: #00aa8a; 
    /* background: linear-gradient(to top, #d082e4, rgb(97, 232, 250)); */
}
.dropdown{
    margin-right:80px ;
}
.text{
position: relative;
left: -70px;
bottom: 10px;
}
.cart-icon {
    margin-right: 80px;
    color: white;
}
.cart-icon .icon{
    position:static;
    font-size: 2rem;
    top:10px;
    cursor: pointer;
}
.dropdown{
    margin-top: 30px;
}