.navbar{
    /* background:rgba(194, 42, 224, 0.89); */
   /* background-color: #00aa8a; */
    /* background: linear-gradient(to top, #d082e4, rgb(97, 232, 250)); */
    background: #00aa8a;
}
.form-control{
    height: 32px;
    border: none;
}
.btn-light{
    height: 32px;
    color: black;
}
.search-icon{
    position: relative;
    top: -3px;
}
.search-text{
    position: relative;
    top: -10px;
    font-size: large;
}
.dropdown{
    margin-right:90px ;
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-menu a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-menu{
    display: block;
} 

.text{
position: relative;
left: -70px;
bottom: 10px;
}
.cart-icon {
    margin-right: 80px;
    color: white;
}
.cart-icon .icon{
    position:static;
    font-size: 2rem;
    top:10px;
    cursor: pointer;
}
.dropdown{
    margin-top: 30px;
}