<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="commentPost" method="" (ngSubmit)="saveReview()">
                <div class="form-group">
                    <ngb-rating  class="h4" [max]=5 [(rate)]="currentRate" formControlName="rating"></ngb-rating>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control " formControlName="msg">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-dark" [disabled]="!commentPost.valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>