.card{
  min-height: 360px;
  min-width: 200px;
  max-width: none;
  margin-bottom: 30px;
  border: none;
  background-color: rgb(239, 248, 239);
}
#productAnchorTag{
  text-decoration: none;
}

.card-body h3 .normalPrice{
  font-size: small;
  text-decoration: line-through;
  padding-left: 5px;
}

.productTitle{

overflow: hidden;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-size: 15px;
color: #0f1111;
font-weight: 500;
}
.discount-price{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #e46060;
}
.normalPrice{
  color: #757575;
}
.card .card-body .productImage{
  height: 250px;
 

}
.card #productAnchorTag .card-body .productImage img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}


.card{
  height: 400px;
  box-shadow: 4px 4px 4px 4px rgb(156, 245, 233);
}
.card #productAnchorTag .card-body .productImage img{
  position: inherit;
  /* width: 50%; */
  height: 200px;
  transition: 0.3s ease-in-out;
}

.card-footer{
  padding: 5px;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
  font-size: 15px;
}

#filter{
  margin-top: 30px;
  width: 150px;
}

ngb-rating{
  font-size: large;
  margin-bottom: 10px;
}

.pagination{
  margin: 30px 25% 30px 30%;
}

