.card{
  height: 350px;
  margin: 0px 50px 30px 50px;
}

#productAnchorTag{
  text-decoration: none;
}

.card-body h3 .normalPrice{
  font-size: small;
  text-decoration: line-through;
  padding-left: 5px;
}

.productTitle{
height: 40px;
overflow: hidden;
}

.card img{
  padding : 5% 0% 5% 10%;
  height: 200px;
  /* width: 200px; */
}

.card-footer{
  padding: 5px;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

#filter{
  margin-top: 30px;
  width: 150px;
}

ngb-rating{
  font-size: large;
  margin-bottom: 10px;
}
