
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 mb-md-0">
      <a class="nav-link text-light text-center" [routerLink]="['home']">Home</a>
    </div>
    <div class="col-lg-3 mb-md-0 ">
      <a class="nav-link text-light text-center" [routerLink]="['/electronics']">Electronics</a>
    </div>
    <div class="col-lg-3 mb-md-0 ">
      <a class="nav-link text-light text-center" [routerLink]="['/mens']">Applates</a>
    </div>
    <div class="col-lg-3 mb-md-0 ">
      <a class="nav-link  text-light text-center" [routerLink]="['/kitchen']">Home&Kitchen</a>
    </div>
</div>