
  <div class="container-fluid text-center text-md-left " style="background-color: #051747; height: 50px;">
  <div class="row">
    <div class="col-md-3 mb-md-0">
      <a class="nav-link text-light" [routerLink]="['home']">Home</a>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <a class="nav-link text-light" [routerLink]="['/electronics']">Electronics</a>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <a class="nav-link text-light "  [routerLink]="['/mens']">Mens</a>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <a class="nav-link  text-light"  [routerLink]="['/kitchen']">Kitchen</a> 
    </div>
     
   </div>
</div>   
