
 .container-fluid{
  background:#29292b;

}
 .col-md-3:hover{
  background-color: rgb(43, 46, 48);
  border-radius: 20px;
  
}  
 
 
 .col-md-3 a{
  font-weight: bold;
  font-family: serif;
  box-shadow: 1px;
  text-align: center;


}


  

  

.text-light{
  font-weight: 600;
  font-size: 14px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-top: 5px;

} 
