 /* .logo-container {
    width: 100%;
  } */


.nav{
  background-color: #1b1b1b;
}
.btn{
  top: 10px;
  margin-left: 20px;

}
.menu{
  margin-left: 50px;
}
.nav::after{
  content: normal;
  clear: both;
  display: table;
}
.nav ul{
  float:right;
  list-style: none;
  display: inline-flexbox;
  position: relative;
  bottom: -8px;
}
.nav ul li{
  float: left;
  display: inline-flexbox;
  background: #1b1b1b;
  margin: 0 5px;
}
.nav ul li a{
  margin-left: 70px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-size: 18px;
  padding: 8px 15px;
  cursor: context-menu;
}
.nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff,0 0 5px #66ffff  ;
}
.nav ul ul li a:hover{
  color:cyan;
  box-shadow: none;
}
.nav ul ul{
  position: absolute;
  top: 70px;
  opacity: 0;
  transition: top .3s;
  
}
.nav ul ul ul{
  border-top: none;
}
.nav ul li:hover > ul{
  top:60px;
  opacity: 1;
  visibility: visible;

}
.nav ul ul li{
  position: relative;
  margin: 0px;
  width: 180px;
  float: none;
  display: list-item;
  border-bottom: 2px solid rgb(0,0,0,0.3);
}

.nav ul ul li a{
  line-height: 50px;
}
.nav ul ul  ul li{
  position: relative;
  top: -80px;
  left: 120px;
} 