.mat-form-field + .mat-form-field {
    margin-left: 8px;
   
  }
  .expansion{
      width: 100%;
      margin: auto;
      background-color: rgb(122, 237, 245);
      /* float: left; */
  }
  .panel{


    width: 30%;
    float: left;
    margin: 1%;
  }
 