  .container{
    
    width: 100%;
    margin-top:40px ;
    /* max-width: 100%; */
    margin: 50px auto;
    /* height:1000px ; */
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 7px 5px -5px rgb(240, 236, 236);
  }
  
  .container h2{
      color:#051747;
      margin-top:10px ;
      font-family: 'Abril Fatface', cursive;
      font-size:20px ;
      font-weight: bold;
  }
  form{
      margin-top:60px ;
  }
  
  .container  label{
     color: #333;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    width: 500px; 
}
.form-group input:focus{
    outline: none;
    
}
.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgb(180 153 162 / 25%);
}


/* .form-group input{
    border-radius: 4px;
    box-shadow:none ;

    border-bottom: 2px solid black;
    
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
    

    border-color: #686868;
    width: 250px;
    

} */
.form-group ::placeholder{
    color: #26292f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size:15px ;
}
.btn{

    background-color:#00aa8a;;
    color:white ;
    width:200px ;
    margin-top:30px ;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  /* .example-section {
    
  }
  .example-margin {
    margin: 0 12px;
  }
  */
