
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h2>Add your address</h2>
            <form class="form" [formGroup]="useradress" (ngSubmit)="onSubmit()">
             

                <div class="row">
                    <div class="form-group col-lg-6">

                        <label>Full Name</label>
                        <input type="text" class="form-control " name="Name" formControlName="fullName"
                            placeholder="">
                        <span class="text-danger"
                            *ngIf="(adressFormControl.fullName.touched || submitted) && adressFormControl.fullName.errors?.required">Name
                            is Required*</span>
                        <span class="text-danger" *ngIf=" adressFormControl.fullName.errors?.minlength">Minimum 3
                            Letters Required*</span>
                    </div>
                    <div class="form-group col-lg-6 ">
                        <label>Flat, House no.</label>
                        <input type="text" class="form-control" name="flat" formControlName="flat" placeholder="">
                        <span class="text-danger"
                            *ngIf="(adressFormControl.flat.touched || submitted) && adressFormControl.flat.errors?.required">flat
                            no required*</span>
                        <span class="text-danger" *ngIf=" adressFormControl.flat.errors?.minlength">Minimum 3 Letters
                            Required*</span>
                    </div>
                </div>
                <div class="row">
                    <div class=" form-group col-lg-6">
                        <label>Area, Colony, Street</label>
                        <input type="text" class="form-control" name="area" formControlName="area" placeholder="">
                        <span class="text-danger"
                            *ngIf="(adressFormControl.area.touched || submitted) && adressFormControl.area.errors?.required">area
                            required*</span>

                
                    </div>
                    <div class="form-group col-lg-6">
                       <label>Mobile Number</label>
                            <input type="number" class="form-control " name="Mobile" formControlName="mobile"
                                placeholder="">
                            <span class="text-danger"
                                *ngIf="(adressFormControl.mobile.touched || submitted) &&adressFormControl.mobile.errors?.required">Mobile
                                number is Required*</span>
                            <span class="text-danger" *ngIf="adressFormControl.mobile.errors?.pattern">Mobile Number
                                must have 10 digit*</span>

                    
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group col-lg-6 ">
                        <label>Landmark</label>
                        <input type="text" class="form-control pass-key" formControlName="Landmark"
                            placeholder="">
                        
                        <span class="text-danger"
                            *ngIf="(adressFormControl.Landmark.touched || submitted) && adressFormControl.Landmark.errors?.required">
                            Landmark required
                        </span>

                    </div>
                    <div class="form-group col-lg-6">
                        <label>Town/City</label>
                        <input type="text" class="form-control" formControlName="town" placeholder="">
                        <span class="text-danger"
                            *ngIf="(adressFormControl.town.touched || submitted)&& adressFormControl.town.errors?.required">
                            town required
                        </span>

                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn ">ADD</button>
                </div>

        
            </form>
        

        </div>
    </div>
</div>