<mat-dialog-content class="mat-typography">
    <form class="form" [formGroup]="productForm">
        <div class="container">
            <h2 mat-dialog-title class="text-center">Add Product</h2>
            <div class="row mb-4">
                <div class="col-xl-6 col-md-6">
                    <label for="userId">Select Category</label>
                    <select name="category" id="category" (change)="changeCategory($event)" formControlName='category' class="form-control">
                        <option *ngFor="let sub of categories; let index" value={{sub}}>{{sub}}</option>
                    </select>
                </div>
                <div class="col-xl-6 col-md-6">
                    <label for="sub">Select sub category</label>
                    <select name="subCategory" id="subCategory" (change)="changeSubCategory($event)" formControlName='subCategory' class="form-control">
                        <option *ngFor="let sub of subCategoryArray" value={{sub}}>{{sub}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <label for="userId">Enter ID</label>
                    <input type="text" name="userId" size="40px" formControlName='userId' class="form-control">
                    <div *ngIf='productFormControl.userId.touched && productFormControl.userId.invalid'>
                        <div
                            *ngIf='productFormControl.userId.errors?.required && productFormControl.userId.errors?.minLength'>
                            <b class="text text-danger">*Enter 16 digit ID</b>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <label for="title">ProductName</label>
                    <input type="text" name="title" formControlName='title' class="form-control">
                    <div *ngIf='productFormControl.title.touched && productFormControl.title.invalid'>
                        <div *ngIf='productFormControl.title.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <label for="metaTitle">Meta title</label>
                    <input type="text" name="metaTitle" formControlName='metaTitle' class="form-control">
                    <div *ngIf='productFormControl.metaTitle.touched && productFormControl.metaTitle.invalid'>
                        <div *ngIf='productFormControl.metaTitle.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label for="price">Enter Price</label>
                    <input type="text" name="price" formControlName='price' class="form-control">
                    <div *ngIf='productFormControl.price.touched && productFormControl.price.invalid'>
                        <div *ngIf='productFormControl.price.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <label for="discount">Discount</label>
                    <input type="text" name="discount" formControlName='discount' class="form-control">
                    <div *ngIf='productFormControl.discount.touched && productFormControl.discount.invalid'>
                        <div *ngIf='productFormControl.discount.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label for="quantity">AvailableQuantity</label>
                    <input type="text" name="quantity" formControlName='quantity' class="form-control">
                    <div *ngIf='productFormControl.quantity.touched && productFormControl.quantity.invalid'>
                        <div *ngIf='productFormControl.quantity.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label for="quantity">Enter Image URL</label>
                    <input type="text" name="imgUrl" #imgUrl class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <label for="summary">Summary</label>
                    <textarea type="text" name="summary" id="summary" class="form-control" formControlName='summary' cols="5"
                        rows="1"></textarea>
                    <div *ngIf='productFormControl.summary.touched && productFormControl.summary.invalid'>
                        <div *ngIf='productFormControl.summary.errors?.required'>
                            <b class="text text-danger">*Required</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" (click)="submit(productForm.value,imgUrl.value)">AddProduct</button>
</mat-dialog-actions>