.image img{
    margin-top: 10%;
    width: 270px;
    height: 416px;
}
ngb-rating{
    margin-bottom: 20px;
    font-size: xx-large;
    color: orangered;
}
.decription{
    padding: 10%;
}

.normalPrice{
    font-size: larger;
    color: orange;
}

.normalPrice span{
    font-size: small;
    text-decoration: line-through;
    padding-left: 10px;
}

.decription .cartButton{
    margin: 20px 0px 20px 0px;
}

.description ul li{
    font-size: medium;
}

.itemDes{
    margin-top: 2%;
}