<div class="container itemDes">
    <div class="row">
        <div class="col-sm-5 col-lg-5 col-xs-5 col-md-5 image">
            <img src={{itemData.image}} alt={{itemData.title}}>
        </div>
        <div class="col-sm-7 col-lg-7 col-xs-7 col-md-7 container">
            <div class="decription">
                <h2>{{itemData.title}}</h2>
                <h2>Angular 12 Star Rating Example</h2>
                <ngb-rating [rate]="itemData.rating" [readonly]='true' [max]="5"></ngb-rating>
                <h4 class="itemPrice">Price : <span>{{itemData.price | currency}}</span></h4>
                <h2>{{itemData.category}}</h2>
                Quantity : <select name="quantity" (change)='selectQuantity($event)' id="quantity">
                    <option selected value="0">0</option>
                    <option *ngFor='let quantity of itemQuantity' value={{quantity}}>{{quantity}}</option>
                </select>
                <div class="cartButton">
                    <app-cart-button [itemData]='itemData'></app-cart-button>
                </div>
                <h4>Description :</h4>
                <ul *ngFor='let data of description'>
                    <li>{{data}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="comments">
        <!-- Product Commnets -->
        <app-comments></app-comments>
        <!-- Product Commnets  end-->
    </div>
</div>