<div class="imageFixed">
  <img src="assets/checkout.jpg" alt="">
</div>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h3 class="yourItemsText">
          <span class="text">YOUR ITEMS</span>
        </h3>
        <h4 class="staticText">
          Check the items before you buy
        </h4>
        <div class="orderItemsDiv" *ngFor="let item of data.orderItems">
          <div class="row">
            <div class="col-lg-2 imagesDiv">
              <img src={{item.product.imageUrls[0].imgUrl}} alt="">
            </div>
            <div class="col-lg-8 text text-center">
              <h3 class="productMeatTitle">{{item.product.metaTitle}}</h3>
              <span *ngIf="item.product.size" class="sizeSpec">{{item.product.size}}  {{item.product.sizeUnit}}</span>
              <span *ngIf="item.product.color" class="colorSpec"> Color : {{item.product.color}}</span>
            </div>
            <div class="col-lg-2">
              <h3 class="itemPrice">{{item.price | currency:"INR"}}</h3>
              <h2 class="itemQuantity">
                {{item.quantity}}<sub>x</sub>
              </h2>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-6 couponDiv">
            <div>
              <h3 class="yourItemsText">
                <span><i class="fa fa-magic" aria-hidden="true"></i></span> <span class="text">COUPON</span>
              </h3>
              <h4 class={{couponResponseClass}}>
                {{couponResponse}}
              </h4>
            </div>
            <div class="applyCouponDiv">
              <input type="text" #coupon class="input-sm form-control" [(ngModel)]="data.promo" name="" id="">
            <span class="py-2 buttonDiv">
              <button class="btn btn-sm" type="button" (click)="couponApply(coupon.value)" *ngIf="!click"> E N T E R </button>
              <button class="btn btn-sm" type="button" (click)="couponCancel()" *ngIf="click">C A N C E L&nbsp;</button>
            </span>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="yourEstimationText">
              E S T I M A T I O N
            </h3>
            <table class="estimationTable">
              <tbody>
                <tr>
                  <td class="attribute">
                    Order
                  </td>
                  <td class="value">
                    {{data.subTotal | currency:"INR"}}
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    Shipping
                  </td>
                  <td class="value">
                   + {{ 0 | currency:"INR"}}
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    Discount
                  </td>
                  <td class="value">
                    - {{data.itemDiscount | currency:"INR"}}
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    Coupon Discount
                  </td>
                  <td class="value">
                    - {{data.total - data.grandTotal | currency:"INR"}}
                  </td>
                </tr>
                <tr class="totalArr text text-right">
                  <td>

                  </td>
                  <td>
                    <div>
                      <span>T O T A L</span>
                      <p>{{data.grandTotal | currency:"INR"}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="checkoutButton">
          <button type="submit" class="form-control btn-block" (click)="checkOut()">C H E C K O U T</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>


<!-- 
<div class="container mt-3">
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-lg-5">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center text-danger">Bill Details</h1>
          <hr>
          <div class="card-body">
            <table>
              <thead>
                <tr class="w-100 ">
                  <th class="text-center py-3">Bill type</th>
                  <th class="text-center py-3">-</th>
                  <th class="text-center py-3">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center w-50">Product Price</td>
                  <td class="text-center w-50">:</td>
                  <td class="text-center w-50">{{data.subTotal}}</td>
                </tr>
                <tr>
                  <td class="text-center w-50">Discount </td>
                  <td class="text-center w-50">:</td>
                  <td class="text-center w-50"> - {{data.itemDiscount}}</td>
                  
                </tr>
                <tr>
                  <td class="text-center w-50">Amount to be paid </td>
                  <td class="text-center w-50">:</td>
                  <td class="text-center w-50">{{data.grandTotal}}</td>
                </tr>
                <tr>
                  <td class="text-center w-50">Coupon</td>
                  <td class="text-center w-50">:</td>
                  <td class="text-center w-50">
                    <input type="text" #coupon class="form-control sm" name="" id="">
                  </td>
                  <td class="text-center w-50">
                    <span class="py-2">
                      <button class="btn btn-sm btn-danger " type="button" (click)="couponApply(coupon.value)" *ngIf="!click"> Apply </button>
                      <button class="btn btn-sm btn-danger " type="button" (click)="couponCancel()" *ngIf="click">Cancel</button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-warning btn-block" (click)="checkOut()">CheckOut</button>
          </div>
        </div>
      </div> -->