.container{
  width: 1000%;
  background-color:#ffffff ;
}
.row{
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
}


.card{
  width:500px;
  height: 700px;
  margin-left:100px ;
  background-color: white;
  padding: 10px  10px 10px 10px;
  
  }
  
.title{
  margin-top: 20px;
  margin-left:200px;
  font-family: 'Oswald', sans-serif;
  font-size:30px ;
  color: rgb(8, 5, 5);

}
 .body{
  width:300px;
  margin-top:20px ;
} 

/* .form-control{
    width: 300px;
} */

/* form{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid rgb(4, 4, 41);
    width: 40%;
    text-align: center;
    padding: 5%;
    
    
} */

.form-group{
  margin-left:10px ;
  margin-top:10px ;
  padding:10px ;
}
.content{
  margin-right:5px ;
}

.head1{
  color: rgb(21, 21, 26);
  margin-left:30px ;
  font-size:20px ;
  margin-right:50px ;
}
.side-head{
  color: rgb(32, 32, 49);
  margin-right:30px ;
  margin-right:100PX ;
}
.side-head2{
  color: rgb(25, 25, 37);
  margin-right:10px;
}

.table{
    padding: 10px;
    margin-left:30px ;
    padding-left:20px ;
    width: auto;
}
 .table th{
  margin-left:5px ;
   padding-left:5px ;
   margin-right:30px ;
} 
.main-content{
  color:#000000;
  padding-left:10px ;
  font-size:15px ;
  font-family: 'Permanent Marker', cursive;
  
}
.main-content2{
  color:#000000;
  font-family: 'Permanent Marker', cursive;
  margin-left:20px ;
}
.main-content3{
  color: #000000;
  font-family: 'Permanent Marker', cursive;
  margin-left:30px ;
}
.main-content3 label{
  text-align: center;
}
tr{
    border-style: hidden;
}
#coupon{
    width: 200px;
    height: 50px;
    text-align: center;
    color: #000000;
    margin-left:100px ;
    border-radius:2px solid black;
    
}
.add{
  color:rgb(13, 13, 124);;
  text-align: center;
  margin-left:150px ;
  margin-top:40px ;
  
}
.btn{
  margin-left:200px ;
  
}
option {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
    padding: 10px;
  }
  
  option:hover {
    background: black;
    color: red;
  }
  
  option:active {
    background: yellow;
    color: blue;
  }
  
  option:focus {
    background: green;
    color: orange;
  }
  
  option:selected {
    background: red;
    color: yellow;
  }

