<h2 mat-dialog-title class="text-center">Coupons</h2>
<h3 class="err text-center">{{error}}</h3>
<mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="couponPost" (ngSubmit)="onSaveCoupon()">
        <div class="mb-3">
            <label class="form-label">Coupon</label> <span class="text-danger">*</span>
            <input type="text" name="coupon" class="form-control" placeholder="ABCD50" formControlName="coupon">
            <div class="err" *ngIf="submitted && f.coupon.errors ">
                <span *ngIf="f.coupon.errors.required">Coupon Id required</span>
                <span *ngIf="f.coupon.errors.minlength">Coupon Id at Least 8 letters</span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Eligibility</label><span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="Rs 00000 /-" formControlName="eligibul">
            <div class="err" *ngIf="submitted && f.eligibul.errors">
                <span *ngIf="f.eligibul.errors.required">Enter Eligibul Amount</span>
            </div>
        </div>
        <div class="mb-3">
            <table cellspacing="0">
                <tr>
                    <td>
                        <label for="start">Start</label><span class="text-danger">*</span>
                        <input type="date" class="form-control" placeholder="start date" formControlName="start">
                        <div class="err" *ngIf="submitted && f.start.errors">
                            <span *ngIf="f.start.errors.required">Enter Start Date</span>
                        </div>
                    </td>
                    <td><label class="to" for="to">To</label></td>
                    <td>
                        <label for="end">End</label><span class="text-danger">*</span>
                        <input type="date" class="form-control" placeholder="start date" formControlName="end">
                        <div class="err" *ngIf="submitted && f.end.errors">
                            <span *ngIf="f.end.errors.required">Enter End Date</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center mb-3">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit" mat-raised-button color="primary" cdkFocusInitial
                type="submit" >AddCoupon</button>
        </div>
    </form>
</mat-dialog-content>