.ngb-rating{
    color: #686868;
    font-size: large;
}

.firstFilter img{
    width: 20px;
}

.firstFilter{
    margin-top: 70px;
}

.firstFilter span{
    margin: 10px 0px 0px 5px;
    color: #686868;
    font-weight: 200;
    margin-top: 40px;
    cursor: context-menu;
}

.firstFilter:hover{
    color: #333;
    text-decoration: underline;
}

.rating_title img{
    width: 40px;
}

.rating_title span{
    padding-top: 10px;
}

.price_title img{
    width: 20px;
}

.price_title span{
    padding: 10px 0px 0px 20px;
}

.outOfStock_title img{
    width: 30px;
}

.outOfStock_title span{
    padding: 10px ;
}

.priceFilterDiv span{
    color: #686868;
    display: block;
    text-align: left;
    cursor: context-menu;
}

.priceFilterDiv span:hover{
    color: #333;
}

h3{
    font-weight: 400;
}

.ngb-rating span{
    cursor: context-menu;
}

.ngb-rating:hover{
    color: #333;
}

.clearFilter span{
    font-size: 20px;
}

.clearFilter{
    cursor: context-menu;
}

.outofstock{
    color: #686868;
}

.outofstock:hover{
    cursor: context-menu;
    color: #333;

}

mat-expansion-panel-header:hover{
    background: #00aa8a !important;
}
