.card{
  border-radius: 15px;
}
    .card:hover{
      border: none;
      margin: 0.5rem;
      box-shadow:5px 4px 5px rgb(83, 83, 83);
      display: flexbox;
      z-index: 1;
      cursor: context-menu;
  }
  .card-body {
    border: none;
      text-align: center;
      background-color: rgb(221, 232, 236);
      border-radius: 15px;
      
  }
      
  .card-title{
      font-size: 2rem;
      font-weight: bolder;
      text-align: center;
  }
  
  .card-body p{
    line-height: 10px;
      font-size: 18px;
  }
  button{
  margin-left: 20px;
}
  
