.admin-nav a{
    float: right;
    color: rgb(148, 78, 212);
    text-decoration: none;
    font-size: large;
}

.admin-nav{
    padding:50px 0px 50px 0px;
    
}

.admin-nav a:hover{
    color: rgba(0, 0, 0, 0.171);
    
}
.managementLinks ul li a:hover{
    color: white;
}

.user-profile-svg{
    margin-right: 10px;
    width: 15px;
}

.managementLinks{
    width: max-content;
    background: linear-gradient(to top, #dcf1f1, rgb(33, 214, 241));
    /* background-color: rgba(114, 172, 248, 0.904); */
    padding:30px 20px 10px 0px;
}

.managementLinks ul li:nth-child(1n+2){
    margin-top: 80px;
}

.managementLinks ul li a{
    color: rgb(240, 240, 240);
}

.managementLinks ul li{
    padding-left: 10px;
    /* border-bottom: 2px solid rgb(32, 6, 6);
    border-left: 2px solid rgb(56, 11, 11);; */
    font-size: 17px;
    list-style: none;
    cursor: context-menu;
}
