 <app-carousel></app-carousel> 

 
 <br><br><br>
 <div class="container-fluid">
     <div class="row">
         <div class="col-lg-6"> <br>
             <div class="card">
                 <img src="assets/apparel1.jpg" [routerLink]="['/mens']"  alt="">
             </div>
         </div>
         <div class="col-lg-6">
             <div class="card card-text" >
                 <h1 class="card-title">Apparels</h1>
                 <p class="card-mater">This is the apprels section here we can get the mens wear 
                 && womens wear && kids wear</p>
                 <span class="span-text"> we want see more items please click on given below link</span>
                 <a href="#" class="ancher-tag" [routerLink]="['/mens']">For More Items</a>
             </div>
         </div>
         <br><br><br>
         <div class="col-lg-6" >
             <div class="card card-text"> <br> <br><br> <br> 
                 <h1 class="card-title">Home && kitchen</h1>
                 <p class="card-mater">In this section we get Home item and kitchen items</p>
                     <span class="span-text"> we want see more items please click on given below link</span>
                     <a href="#" class="ancher-tag" [routerLink]="['/kitchen']">For More Items</a>
             </div>
         </div>
         <div class="col-lg-6"> <br> <br> <br> 
             <div class="card">
                 <img src="assets/Home.jpg" [routerLink]="['/kitchen']" alt="">
             </div>
         </div>
         <div class="col-lg-6"> <br> <br>
             <div class="card"> <br> <br>
                 <img src="assets/electronics.jpg" [routerLink]="['/electronics']" alt="">
             </div>
         </div>
         <br><br><br>
         <div class="col-lg-6">
             <div class="card card-text" > <br> <br> <br> <br>
                 <h1 class="card-title">Electronics</h1>
                 <p class="card-mater">In this section we get electronics types like phones,laptop ect...</p>
                     <span class="span-text"> we want see more items please click on given below link</span>
                     <a href="#" class="ancher-tag" [routerLink]="['/electronics']">For More Items</a>
             </div>
         </div>
     </div>
 </div>











      <!-- <div id="main-div">

    <div class="home-div" ><br><br><br>
        <h1>mens fasions</h1><br><br><br>
    
        <div class="mens-thumbnail"  ><img src="assets/men2.webp" [routerLink]="['/mens']" alt=""></div>

       
    
        <br><br>
    
        
        
        
        </div>
        
        <div class="home-div" ><br><br><br>
            <h1>mens fasions</h1><br><br><br>
 
            <div class="mens-thumbnail"  ><img src="assets\men3_files\closet-912694__340.webp" [routerLink]="['/mens']" alt=""></div>
           
        
            <br><br>
        
            
            
            
            </div>
      
    <div class="home-div" ><br><br><br>
        <h1>elctronics</h1> <br><br><br>
        <div class="mens-thumbnail" ><img src="assets\elctronics.webp" [routerLink]="['/elctronics']" alt=""></div>
    
        <br><br>
        
        
        
        
        </div><br><br>
        <div class="home-div" ><br><br><br>
            <h1>kitchen items </h1> <br><br><br>
            <div class="mens-thumbnail"  ><img src="assets/kitchen.webp"  [routerLink]="['/kitchen']" alt=""></div> 
            <div class="mens-thumbnail"  ><img src="assets/kitchen5.webp"  [routerLink]="['/kitchen']" alt=""></div>
            <div class="mens-thumbnail"  ><img src="assets/kitchen4.webp" [routerLink]="['/kitchen']" alt=""></div>
         
    
            
            <br><br>
            
            </div>
</div> 
 -->

