

    

<section class="hero-container position-relative">
    <div class="container">
       
      <div class="row" >
        <div class="col-md-7 col-xs-12">


          <h1 class="mb-3">Lorem ipsum dolor sit amet</h1>
          <p class="mb-4 text-white">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
      
          <span><a href="#"></a></span>
        
          
        </div>
      </div>
    </div>
  </section>
  



<!-- <app-carousel></app-carousel> -->
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/apparel1.jpg" [routerLink]="['/mens']" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-text">
                <h1 class="card-title">Apparels</h1>
                <p class="card-mater">This is the apprels section here we can get the mens wear
                    && womens wear && kids wear</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/mens']">For More Items</a>
            </div>
        </div>
    </div>
    <div class="row my-2" [routerLink]="['/products']">
        <div class="header">
            <p class="text1">Shop by</p>
            <p class="text2">Products</p>
        </div>
        <div class="col-lg-4 col-md-6 my-2">
            <div class="card" id="card1">
                <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/activewear_26032021.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-2" >
            <div class="card" id="card2">
            <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/tops_26032021.jpg?w=338&auto=format" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-2" >
            <div class="card" id="card3">
            <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/ethnicwear_26032021.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-text">
                <h1 class="card-title">Home && kitchen</h1>
                <p class="card-mater">In this section we get Home item and kitchen items</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/kitchen']">For More Items</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/Home.jpg" [routerLink]="['/kitchen']" alt="">
            </div>
        </div>
    </div>
    <div class="row my-2"></div>
    <div class="row mt-5 my-3" [routerLink]="['/products']">
        <div class=" col-lg-2 my-3 col-md-6 my-2">                
            <img class="img1" src="https://pantaloons.imgix.net/img/app/product/2/277021-1134400.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-2 my-3  col-md-6 my-2">
            <img class="img2" src="https://pantaloons.imgix.net/img/app/product/2/277054-1134598.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-2 my-3 col-md-6 my-2">
            <img  class="img1" src="https://pantaloons.imgix.net/img/app/product/2/277052-1134586.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-6 col-md-6" id="mens">
            <p class="text1 my-2">Best</p><small class="text2">Selling</small>
            <p class="mt10">Most popular products </p>
            <p class="text-p">grab them till they last</p>
            <a href="#" class="mt-10" tabindex="-2">View more <mat-icon class="mat-icon">arrow_forward</mat-icon> </a> 
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/electronics.jpg" [routerLink]="['/electronics']" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-text">
                <h1 class="card-title">Electronics</h1>
                <p class="card-mater">In this section we get electronics types like phones,laptop ect...</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/electronics']">For More Items</a>
            </div>
        </div>
    </div>
</div>





















