
<app-carousel></app-carousel>
<div class="container-fluid mt-2">
    
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/apparel1.jpg" [routerLink]="['/mens']" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-text">
                <h1 class="card-title">Apparels</h1>
                <p class="card-mater">This is the apprels section here we can get the mens wear
                    && womens wear && kids wear</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/mens']">For More Items</a>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="header">
            <p class="text1">Shop by</p>
            <p class="text2">Products</p>
        </div>
        <div class="col-lg-4 col-md-6 my-2">
            <div class="card" id="card1">
                <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/activewear_26032021.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-2" >
            <div class="card" id="card2">
            <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/tops_26032021.jpg?w=338&auto=format" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-2" >
            <div class="card" id="card3">
            <img src="https://pantaloons.imgix.net/resources/img/pantaloons/shopbyproducts/ethnicwear_26032021.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-text">
                <h1 class="card-title">Home && kitchen</h1>
                <p class="card-mater">In this section we get Home item and kitchen items</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/kitchen']">For More Items</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/Home.jpg" [routerLink]="['/kitchen']" alt="">
            </div>
        </div>
    </div>
    <div class="row my-2"></div>
    <div class="row mt-5 my-3">
        <div class=" col-lg-2 my-3 col-md-6 my-2">                
            <img class="img1" src="https://pantaloons.imgix.net/img/app/product/2/277021-1134400.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-2 my-3  col-md-6 my-2">
            <img class="img2" src="https://pantaloons.imgix.net/img/app/product/2/277054-1134598.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-2 my-3 col-md-6 my-2">
            <img  class="img1" src="https://pantaloons.imgix.net/img/app/product/2/277052-1134586.jpg?w=238&auto=format" alt="">
        </div>
        <div class=" col-lg-6 col-md-6" id="mens">
            <p class="text1 my-2">Best</p><small class="text2">Selling</small>
            <p class="mt10">Most popular products </p>
            <p class="text-p">grab them till they last</p>
            <a href="#" class="mt-10" tabindex="-2">View more <mat-icon class="mat-icon">arrow_forward</mat-icon> </a> 
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6  ">
            <div class="card">
                <img src="assets/electronics.jpg" [routerLink]="['/electronics']" alt="">
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card card-text">
                <h1 class="card-title">Electronics</h1>
                <p class="card-mater">In this section we get electronics types like phones,laptop ect...</p>
                <span class="span-text"> we want see more items please click on given below link</span>
                <a href="#" class="ancher-tag" [routerLink]="['/electronics']">For More Items</a>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row  mt-5 my-3">
        <div class="col-lg-3 my-3 col-md-6 my-2">
            <div class ="card-main">
            <div class="header">
                <img src="https://img.icons8.com/color/2x/private2.png" class="img-card"  alt="">
                   <div class="card-content">
                       <h4>100% SECURE PAYMENTS</h4>
                       <h6>Moving your card deatails into  more secure place</h6>
                   </div> 
            </div>
        </div>
        </div>
        <div class="col-lg-3 my-3 col-md-6 my-2">
            <div class ="card-main2">
            <div class="header">
                <img src="https://image.flaticon.com/icons/png/128/2639/2639580.png" class="img-card2"  alt="">
                   <div class="card-content2">
                       <h4> TRUSTPAY</h4>
                       <h6>100% Payments Protection.Easy Return Policy</h6>
                   </div> 
            </div>
        </div>
        </div>
        <div class="col-lg-3 my-3 col-md-6 my-2">
            <div class ="card-main3">
            <div class="header">
                <img src ="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/2x/external-help-support-vitaliy-gorbachev-blue-vitaly-gorbachev" class="img-card3"  alt="">
                   <div class="card-content3">
                       <h4>HELP CENTER</h4>
                       <h6>Got a Question?look no furtherSubmit your FAQ here</h6>
                   </div> 
            </div>
        </div>
        </div>
        <div class="col-lg-3 my-3 col-md-4 my-2">
            <div class ="card-main4">
            <div class="header">
                <img src ="https://img-premium.flaticon.com/png/128/3110/premium/3110581.png?token=exp=1630332239~hmac=250833462ef188218b8d5f2cd60439c0" class="img-card4"  alt="">
                   <div class="card-content4">
                       <h4>SHOP ON THE GO</h4>
                       <h6>Download the app and  get exiciting the app  only offers at your fingertips </h6>
                   </div> 
            </div>
        </div>
        </div>
    
            
        
        
    </div> 
    </div>