
<div class="dropdown m-5">
    <img src="assets/transaction.svg" style="width: 45px;" id="dropdownMenuButton" alt="" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="all">All Transactions</a>
                <div class="dropdown-divider">
                </div>
                <a class="dropdown-item" routerLink="pending">Cancellation Requests</a>
                <div class="dropdown-divider">
                </div>
                <a class="dropdown-item" routerLink="success">Update order delivery status</a>
                <div class="dropdown-divider">
                </div>
                <a class="dropdown-item" routerLink="failed"> Failed Transactions</a>
        </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>




