<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Product ID</th>
            <th>Product name</th>
            <th>Delivery status</th>
            <th>Update Delivery status</th>
        </tr>
    </thead>
    <tbody *ngFor="let ele of Transactions">
        <tr class="text-center">
            <th>{{ele.id}}</th>
            <th>{{ele.Poduct_name}}</th>
            <th>{{ele.progress}}</th>
            <th>
                <select name="progress" #progress class="form-control">
                    <option selected value="none">select</option>
                    <option value="Packed">Poduct packed</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Out for delivery">Out for delivery</option>
                    <option value="Delivered">Delivered</option>
                </select>
                <button  class="btn btn-warning ml-3" (click)="changeProgress(progress.value,ele)">Update</button>
            </th>
        </tr>
    </tbody>
</table>