
<xng-breadcrumb [separator]="iconTemplate" class="px-2 ml-2"></xng-breadcrumb>
<ng-template #iconTemplate>
  <mat-icon>chevron_right</mat-icon>
</ng-template>

<div class="container mt-5">
    <div class="search">
        <input type="text" [(ngModel)]='searchTerm' class="form-control" placeholder="Enter your search term">
    </div>
    <div class="productAdd">
        <button mat-raised-button color="accent" class="btn mb-5" (click)="openDialog()"> Add Product <span></span> <mat-icon class="add-product-svg ml-1">add_box</mat-icon></button>
    </div>

    <table datatable class="table table-bordered">
        <thead>
            <tr>
                <th>SKU ID</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>MRP</th>
                <th>Total value</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products | search:searchTerm | test">
            <tr>
                <th>{{product.id}}</th>
                <!-- <th>{{product.metaTitle}}</th> -->
                <th>{{product.metaTitle}}</th>
                <th>{{product.quantity}}</th>
                <th>{{product.price | currency:"INR"}}</th>
                <th>{{product.price | value:product.quantity | currency:"INR"}}</th>
            </tr>
        </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>