
tbody{
    display:block;
   overflow:hidden;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: inherit;
     background-color: rgba(0, 0, 0, 0.637); 
      
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  tbody::-webkit-scrollbar-track {
      padding-bottom: 20px;
    background: rgba(128, 128, 128, 0.486);
  }
   
  /* Handle */
  tbody::-webkit-scrollbar-thumb {
      border-radius: 10px;
      height: 100px;
    background: rgb(28, 201, 28); 
  }
  
  /* Handle on hover */
  tbody::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    height: 100px;
    background: rgb(25, 105, 25); 
  }



  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  td{
      word-wrap: break-word;
  }
  thead {
      min-height: 50px;
      border-radius: 13px 13px 0px 0px;
      background-color: rgba(43, 40, 40, 0.897);
  }

.search input{
    width: 20%;
    margin-bottom:25px;
}
.add-product-svg{
    width: 20px;
}

.table thead tr th{
    margin-right: 50%;
}

#recent-orders tr th{
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(118, 238, 118);
    min-width: 150px;
    padding-bottom: 13px;
}

tbody tr td {
    color: whitesmoke;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a span{
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
  }
.search .add-product-div a:hover{
    color: rgb(21, 6, 85);
}

.add-product-div{
    padding: 10px;
    cursor: context-menu;
    width: fit-content;
    font-size: large;
    color: rgb(122, 12, 12);
    margin-bottom: 30px;
}

table {
    width: 100%;
  }
