<xng-breadcrumb [separator]="iconTemplate" class="px-2 ml-2"></xng-breadcrumb>
<ng-template #iconTemplate>
    <mat-icon>chevron_right</mat-icon>
</ng-template>
<div class="container-fluid">
    <div class="adminProfile">
        <div class="card bg-c-line-primary">
            <div class="card-body">
                <div class="imageCircle">
                    <img src="../../../assets/user-solid.svg" alt="">
                </div>
                <div class="card-admin-name">
                    <h2>Hubert Blaine</h2>
                    <p>This is admin page. Here admin description will be Displayed. Go through all the admin
                        functionlity.</p>
                    <h3>
                        <span id="manageText">Manager</span>
                        <span >
                            <a routerLink='/inventory' id ="text">Inventory</a>
                        </span>
                        <span>
                            <a routerLink='coupon' id="text2">Users</a>
                        </span>
                        <span>
                            <a [routerLink]="['usermanagement']" id="text3">Coupons</a>
                        </span>
                        <span>
                            <a routerLink="transactions" id="text4">Transactions</a>
                        </span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="adminCards bg-d-line">
            <div class="card adminDetails bg-d-line">
                <div class="card-header-bg-d-line">
                    <h3 style="color: rgb(36, 32, 32);font-size: 18px;font-weight: bolder;font-family: 'Abril Fatface', cursive; ;">Admin Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 bg-d-line">
                            <h5>
                                <div id="attribute">Full name</div>
                                <span id="value">{{adminDetaile.fullName}}</span>
                            </h5>
                            <h5>
                                <div id="attribute">Birthday</div>
                                <span id="value"> 3 August 1913</span>
                            </h5>
                            <h5>
                                <div id="attribute">Country</div>
                                <span id="value">Germany</span>
                            </h5>
                            <h5>
                                <div id="attribute">Languages</div>
                                <span id="value">German , English</span>
                            </h5>
                            <h2 id="adminContactHead">
                                Contacts
                            </h2>
                            <h5>
                                <div id="attribute">Email</div>
                                <span id="value">{{adminDetaile.email}}</span>
                            </h5>
                            <h5>
                                <div id="attribute">Phone</div>
                                <span id="value">{{adminDetaile.mobile}}</span>
                            </h5>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-deck">
                                <div class="card ">
                                    <div class="card-body">
                                        <h3>Total products</h3>
                                        17
                                    </div>
                                </div>
                                <div class="card bg-info">
                                    <div class="card-body">
                                        <h3>Total transactions</h3>
                                        10
                                    </div>
                                </div>
                            </div>
                            <div class="card-deck" style="margin-top: 20px;">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <h3>Pending Requests</h3>
                                        2
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body bg bg-light ">
                                        <h3>Password changes</h3>
                                        17
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>