*{
    cursor: context-menu;
}

.container-fluid{
    /* background-color: rgba(128, 128, 128, 0.158); */
    background-color: #ffff;
}
.bg-c-line-primary{
    background: -webkit-gradient(linear, left top, right top, from(#316262), to(#00FF00));
    background: linear-gradient(to right, #2b8170   ,#E9F7EF    )
}

.imageCircle{
    float: left;
    margin: 22px 16px 0px 8px;
}

.adminProfile{
    padding-top: 2%;
    padding-bottom: 8.5%;
}


.card-admin-name h2{

    font-size:23px ;
    font-family: 'Abril Fatface', cursive;
}


.card-admin-name h3{
    padding-top: 10px;
    
}

.card-admin-name h3 span a{
    font-weight: 400;
    font-size: medium;
    color: rgb(19, 18, 18);
    text-decoration: none;
    margin-left: 22px;
}

.card-admin-name h3 span a:hover{
    color: #686868;
    text-decoration: underline 2px solid blueviolet;
}

.card-admin-name p{
    
    
    
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
} 

.card .imageCircle{
    height: 80px;
    width: 80px;
    border: 1px solid #6d6b6b;
    border-radius: 50%;
}

.card .imageCircle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bg-d-line{
    background: -webkit-gradient(linear, left top, right top, from(#316262), to(#00FF00));
    background: linear-gradient(to right,#D4EFDF,#D5F5E3  )
} 


#manageText {
    font-size: 18px;
    cursor: context-menu;
 color: #E9F7EF ;
    font-family: 'Courgette', cursive;
}
#text:hover{
    color: cyan;
}
#text2:hover{
    color:#DFFF00;
}
#text3:hover{
    color:#f8094d;
}
#text4:hover{
    color:#40E0D0;
}


.adminCards{
    margin-top: 2%;
    font-family: 'Courgette', cursive;
}
.card-header-bg-d-line  {
    
    font-size:100px ;
    font-weight:bolder;
    font-family: 'Courgette', cursive;
    color: rgb(8, 2, 2);

}

.adminDetails .card-body h5 #attribute{
    float: left;
    font-size: 17px;
    font-family: monospace;
    color:#0f0f0c;
    width: 20%;
    min-width: 100px;
    font-family: 'Abril Fatface', cursive;
}

.adminDetails .card-body h3{
    margin-bottom: 1%;
}
  /* .card1{
    
    
    border-radius:10px ;
    margin-left:10px ;
    width: 300px;
    justify-content: space-between;
    display: flex;
}  */
/* .card2{
    
    
    border-radius: 10px;
    width:300px ;
    margin-left:10px ;
    justify-content: space-between;
    display: flex;
} */
/* .card3{
    
    
    border-radius:10px ;
    margin-left:10px ;
    width: 300px;
    justify-content: space-between;
    display: flex;
    
} */
/* .card4{
    
    
    border-radius: 10px solid black;
    width:300px ;
    margin-left:10px ;
    justify-content: space-between;
    display: flex;
}  */ 
.card-body h3{
    
    color: rgb(13, 14, 10);
    font-family: 'Roboto Condensed', sans-serif;
}

#adminContactHead{
    
    font-family: 'Abril Fatface', cursive;
    color: rgb(19, 18, 18);
    font-weight: bolder;
}

.adminDetails .card-body h5 #value{
    font-weight: 450;
    font-size: 14px;
    color: rgb(90, 44, 44);
    padding-left: 20px;
    font-family: 'Courgette', cursive;
}






.adminBasicInfo{
    margin-top: 2%;
}

.adminBasicInfo .card{
    width: 170px;
    height: 100px;
    margin: 20px 20px 0px 20px;
} 
