<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
    <div class="col-sm-6 shadow round pb-3">
      <h3 class="text-center pt-3 text-secondary">Enter Mobile Number</h3>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
        <div class="form-group">
          <label class="col-form-label">Mobile Number</label>
          <input formControlName="mobileNumber" type="text" class="form-control">
          <span class="text-danger"
            *ngIf="(forgetFormControl.mobileNumber.touched || submitted) && forgetFormControl.mobileNumber.errors?.required">Mobile
            number is Required*</span>
          <span class="text-danger" *ngIf="forgetFormControl.mobileNumber.errors?.pattern">Mobile Number must have 10
            digit*</span>

        </div>
        <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-primary">Reset password </button>

      </form>

    </div>

  </div>

</div>