<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
    <div class="col-sm-6 shadow round pb-3">
      <h3 class="text-center pt-3 text-secondary">Enter Mobile Number</h3>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
        <div class="form-group">

          <label class="col-form-label">Mobile Number</label>
          <input formControlName="mobileNumber" type="text" class="form-control">
          <!-- <small *ngIf="mobileNumber.invalid && mobileNumber.touched && mobileNumber." class="text-danger">mobileNumber is
              Required(minimum length 10,numbers are only allowed)</small> -->
        </div>
        <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-primary">Reset password </button>

      </form>

    </div>

  </div>

</div>
