/* .background{
    background-image: url("../../../assets/forgetback.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-gradient(linear, top left, top right, from(#96cea7), to(#add8d0));
    background: linear-gradient(to bottom, #2c49ca, #5f67d8)
}
.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }
.container{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
    position: relative;
    top: 30%;
}
.row{
    background-color: #e9e2e0b9;
    border-radius: 50px;
    box-shadow:1px cadetblue;
}
.col-sm-6{
    border-radius: 50px;
}
img{
    width: auto;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    left: 45px;
}

form{
    margin-bottom: 70px;
    padding-right:50px ;
    position: relative;
    top: 60px;
    left: 20px;
}
p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    text-align: center;
    color: rgb(94, 23, 44);
    position: relative;
    top: 50px;
}
label{

    font-size: 20px;
    color: rgb(131, 22, 18);
    line-height: 10px;
    font-family: sans-serif;
    position: relative;
    top: 10px;
}
input[type="text"]{
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(59, 57, 57, 0.842);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
} */






.background{
    padding-top: 4%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-gradient(linear, top left, top right, from(#96cea7), to(#add8d0));
    background: linear-gradient(to bottom, #2c49ca, #5f67d8)
}

.imageDiv{
    height: 200px;
    width: 200px;
    padding-left: 33%;
    padding-right: 20%;
    border-radius: 50%;
}

.card{
    padding-top: 30px;
}

.imageDiv img{
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(51, 155, 124);
}

.textDiv{
    margin-top: 30px;
}

.forgotPasswordText{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: 600;
    color: rgb(99, 39, 155);
}

.enterPhnNumber span{
    display: block;
    color: rgb(113, 113, 190);
    font-size: 15px;
    font-family: monospace;
    font-weight: 600;
}

.emailText span{
    display: block;
    color: rgb(145, 145, 185);
    font-size: 15px;
    font-family: monospace;
    font-weight: 600;
}

.enterPhoneInput{
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
    height: 50px;
    background: rgb(224, 224, 224);
    border: none;
    text-align: center;
}

.enterPhoneInput:active{
    border: none;
    box-shadow: none;
}

.enterPhoneInput::placeholder{
    color: #686868;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.forgotButton{
    width: 120px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(68, 185, 170);
    border: none;
    color: whitesmoke;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.errText span{
    font-weight: 400;
    font-style: oblique;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}