<div class="background">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-2 col-sm-0 col-xs-0">

          </div>
          <div class="col-xl-6 col-lg-6 col-md-8 col-sm-0 col-xs-0">
            <div class="imageDiv">
              <img src="assets/confusedAnimal.jpg" alt="">
            </div>
            <div class="textDiv text-center">
              <h1 class="forgotPasswordText">F O R G O T   P A S S W O R D ?</h1>
              <p class="enterPhnNumber">
                <span>
                  Enter your phone number
                </span> 
                <span>
                  associated with your account.
                </span>
              </p>
              <p class="emailText">
                <span>
                  We will email you a link to
                </span>
                <span>
                  reset your password.
                </span>
              </p>
            </div>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
              <div class="form-group">
                <input formControlName="mobileNumber" class="enterPhoneInput" placeholder="Enter Phone Number" type="text">
              </div>
              <div class="text text-center align-center">
                <button [disabled]="forgotForm.invalid" class="forgotButton" type="submit">SEND</button>
              </div>
            </form>
            <div class="text text-center">
              <h1 class="errText">
                <span class="text-center text-success">{{success}}</span>
                <span class="text-center text-danger">{{err}}</span>
              </h1>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-2 col-sm-0 col-xs-0">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<div class="row justify-content-md-center  round pb-3">
  <div class="col-lg-4">
    <img  src="assets/human.png"alt="">
  </div>
  <div class="col-lg-4">
    <p>Forget Password</p>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
      <div class="form-group">
        <label class="col-form-label h1">Mobile Number <span class="text-danger h5">*</span></label>
        <input formControlName="mobileNumber" type="text" class="form-control">
      </div>
      <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-primary btn-block">Reset password </button>
    </form>
    <h1 class="text-center text-success">{{err}}</h1>
  </div>
</div>   
-->