<div class="background">
    <div class="container">
        <div class="row justify-content-md-center   round  ">
            <div class="col-lg-4">
                <img src="assets/human.png" alt="">
            </div>
            <div class="col-lg-4  pb-3">
                <p>Password Reset </p>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="col-form-label h1">Password <span class="text-danger h5">*</span></label>
                            <input type="password" class="form-control pass-key" name="newPassword" formControlName="newPassword" appPasswordShow placeholder="New password">
                            <br>
                            <span class="text-danger"
                                *ngIf="(resetFormControl.newPassword.touched || submitted) && resetFormControl.newPassword.errors?.required">
                                New Password is required*
                            </span>
                            <span class="text-danger"
                                *ngIf="resetFormControl.newPassword.touched && resetFormControl.newPassword.errors?.pattern">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number*
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label h1">Confirm Password <span class="text-danger h5">*</span></label>
                            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="re-type password">
                            <span class="text-danger"
                                *ngIf="(resetFormControl.confirmPassword.touched || submitted)&& resetFormControl.confirmPassword.errors?.required">
                                Confirm Password is required*
                            </span>
                            <span class="text-danger"
                                *ngIf="resetFormControl.confirmPassword.touched && resetFormControl.confirmPassword.errors?.passwordMismatch">
                                Passwords doesnot match*
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block " [disabled]="resetForm.invalid" >Reset Password</button>
                        </div>
                </form>
                <h1 class="text-center text-danger">{{err}}</h1>
            </div>
        </div>
    </div>
</div>