<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
            <h2 class="text-center pt-3 text-secondary"> </h2>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control pass-key" name="newPassword" formControlName="newPassword" appPasswordShow placeholder="Newpassword">
                        <br>
                        <span class="text-danger"
                            *ngIf="(resetFormControl.newPassword.touched || submitted) && resetFormControl.newPassword.errors?.required">
                            New Password is required*
                        </span>
                        <span class="text-danger"
                            *ngIf="resetFormControl.newPassword.touched && resetFormControl.newPassword.errors?.pattern">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number*
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="re-type password">
                        <span class="text-danger"
                            *ngIf="(resetFormControl.confirmPassword.touched || submitted)&& resetFormControl.confirmPassword.errors?.required">
                            Confirm Password is required*
                        </span>
                        <span class="text-danger"
                            *ngIf="resetFormControl.confirmPassword.touched && resetFormControl.confirmPassword.errors?.passwordMismatch">
                            Passwords doesnot match*
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning " [disabled]="resetForm.invalid" >Reset Password</button>
                    </div>
            </form>
        </div>
    </div>
</div>