.background{
    background-image:url("../../../assets/resetback.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }
.container{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
    position: relative;
    top: 30%;
}
.row{
    background-color: #f5faf3d0;
    border-radius: 50px;
    box-shadow: 0px 0px  0px black;
}
.col-sm-6{
    border-radius: 50px;
}
img{
    width: auto;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    top: 20px;
    left: 45px;
}

form{
    margin-bottom: 70px;
    padding-right:50px ;
    position: relative;
    top: 60px;
    left: 20px;
}
p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    text-align: center;
    color: rgb(94, 23, 44);
    position: relative;
    top: 50px;
}
label{
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(131, 22, 18);
    line-height: 10px;
    position: relative;
    top: 10px;
}
input[type="password"]{
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid grey;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
}