



 <form class="form"   [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>card number</label>
        <input type="text" class="form-control" name="Number" formControlName="Number" placeholder="number" >
    </div>
    <div class="form-group">
        <label>expMonth</label>
        <input type="text" class="form-control" name="expMonth" formControlName="expMonth" placeholder="expMonth" >
    </div>
    <div class="form-group">
        <label>expYear</label>
        <input type="text" class="form-control" name="expYear" formControlName="expYear" placeholder="expYear" >
  
    </div>
    <div class="form-group">
        <label>cvc Number</label>
        <input type="number"  class="form-control " name="cvc" formControlName="cvc" placeholder="cvc number">
        
    </div>
  
    <div class="form-group">
        <button type="submit" class="btn btn-warning"  >submit</button>
    </div>
    
</form>  
