<div class="container-fluid bg-c-lite-green backgroundColorProfile">
</div>

<div class="container profileCardDiv" *ngIf="currentUser">
  <div class="card userMainCard">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="userProfilePic">
                <img src="assets\svg\person-circle.svg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="userInfo">
                <h4 class="userName">{{currentUser.fullName}}</h4>
              </div>
              <div class="profileLinks">
                <h4>
                  <a routerLink="/order">O R D E R S</a>
                </h4>
                <h4>
                  <a routerLink="/useradress">A D D R E S S E S</a>
                </h4>
                <h4>
                  <a (click)="logout()">L O G O U T</a>
                </h4>
                <h4>
                  <a (click)="deactivate()">D E A C T I V A T E A C C O U N T</a>
                </h4>
              </div>
            </div>
          </div>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5 class="faqText text text-primary">
                      frequently asked questions
                    </h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="faqsDiv">
              <h5>What happens when I update my email address (or mobile number)?</h5>
                <p>Your login email id (or mobile number) changes, likewise. You'll receive all your account related
                  communication on your updated email address (or mobile number).</p>
                <h5>When will my account be updated with the new email address (or mobile number)?</h5>
                <p>It happens as soon as you confirm the verification code sent to your email (or mobile) and save
                  the changes.
                </p>
                <h5>What happens to my existing account when I update my email address (or mobile number)?</h5>
                <p>Updating your email address (or mobile number) doesn't invalidate your account. Your account
                  remains fully
                  functional. You'll continue seeing your Order history, saved information and personal details.</p>
            </div>
        </mat-expansion-panel>
        </div>
        <div class="col-lg-6 text">
          <h4 class="titleInfo">
            User Information
          </h4>
          <div class="userInformation">
            <h4>
              {{currentUser.username}}
            </h4>
            <h4>
              {{currentUser.mobile}}
            </h4>
            <h4>
              {{currentUser.email}}
            </h4>
          </div>
          <div class="userCards">
            <div class="card">
              <div class="card-body">
                <p>C U R R E N T &nbsp;&nbsp; O R D E R S : <span>0</span></p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p>T O T A L &nbsp;&nbsp; O R D E R S : <span>5</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


