<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">


      <div style="text-align: center;" class="main-content">
  
        <div class="container-fluid">
          <div class="row">
       <div class="col-md-8">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="">
                  <img class="profile-icon" src="assets\svg\person-circle.svg" alt="">
                </a>
              
            </div>
            <div >
                <h6 class="card-category text-gray"></h6>
                <h4 class="card-title">hello {{ currentUser.sub}}</h4>
                <hr>
               
                 <br>
             
             <h4>       <mat-icon>loyalty</mat-icon>
              <span [routerLink]="['/order']">my orders</span></h4>
             
              
          <h4>    <mat-icon>input</mat-icon>
            <span [routerLink]="['/adress']" >adresss</span></h4>
            
            <h4 href=""  class="btn btn-info btn-round" (click)="logout()">logout</h4>
            
              
            
               
               
            </div>
        </div>
    
      
      </div>
    </div>
  </div></div>
    </header>
   
    <div class="card">
      <div class="card-body">
        <h1>Personal Information</h1>

      
         <label for="">name</label>

        <input type="text"   class="user-data" value="{{currentUser.sub}}" disabled> <br><br>
        <h3>your GENDER</h3>

        <label for="" >MALE</label> &nbsp;  <input type="radio"    value="default" checked="checked">&nbsp;
        <label for="" >FEMALE</label> &nbsp;<input type="radio"    value="" disabled>  <br>
        <label for="">E-mail</label>
        <input type="text" class="user-data" value="user@gmail.com"disabled> <br>
        <label for="">mobile number</label>
        <input type="text"  class="user-data"value="99874561230"disabled>

      </div>
      
      <article>
      
      
       <h3>
        FAQs</h3>
         <h5>What happens when I update my email address (or mobile number)?</h5>
      
      <p>Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).</p>
      <h5>When will my  account be updated with the new email address (or mobile number)?</h5>
      <p>It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.</p>
      <h5>What happens to my existing  account when I update my email address (or mobile number)?</h5>
      <p>Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.</p>
      
      </article>
      
    </div>
    
  </div>
  
  <ng-template #loggedOut>
    <section>
      <div class="successfulRegistration">
          <h1  class="text text-success">please login to continue<span  class="text text-primary">✓</span></h1>
          <h5>click here to <a routerLink="/login">signin</a></h5>
      </div>
  </section>
  </ng-template>



