.profile-icon{
    width: 200px;
    height: 200px;
   
}
.main-content{
    width: 500px;
    float: left;
    height: 700px;
    margin-top: 20px;
}
.card-body{
    width: 800px;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
    
}
.user-data{
    width: 300px;
    margin-top: 40px;
    margin-left: 40px;

    text-align: center;
}
article{
    padding: 20px;
}
section{
    margin: 20% 0% 0% 40%;
}
hr{
    width: 80%;
  margin-left: 10%;
}

.main-content span {
    padding-left: 8px;
    width: 300px;
  }
  label{
      color: cornflowerblue;

  }
  h1{
      color: rgb(19, 10, 78);
  }
  .card-title{
      color: red;
  }
  