.profile-icon{
    width: 200px;
    height: 200px;
   
}
.main-content{
    width: 500px;
    float: left;
    height: 700px;
    margin-top: 20px;
}
.card-body{
    width: 800px;
  padding: 40px;
  text-align: center;
  
    
}
.user-data{
    width: 300px;
    margin-top: 40px;
    margin-left: 40px;

    text-align: center;
}
article{
    padding: 20px;
    width: 100%;
}
section{
    margin: 20% 0% 0% 40%;
}
hr{
    width: 80%;
  margin-left: 10%;
}

.main-content span {
    padding-left: 8px;
    width: 300px;
  }
  label{
      color: cornflowerblue;

  }
  h1{
      color: rgb(19, 10, 78);
  }
  .card-title{
      color: red;
  }
  
  /* .card-profile,.card-body,.container{
    background: linear-gradient(to top, #dcf1f1, rgb(33, 214, 241));
    
  }
  .card-profile{
    background: linear-gradient(to top, #dcf1f1, rgb(51, 144, 158));
    
  }
   */