
<mat-accordion>
 
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
   LOSTED ACCOUNTS
      </mat-panel-title>
      <mat-panel-description>
      
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    

    <h1 *ngIf="length">no losted accounts</h1>
    <table class="table table-hover table-dark" *ngIf="!length" >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">User</th>
          <th scope="col">Acceptance</th>
         
        </tr>
      </thead>
      <tbody *ngFor="let x  of lostedaccount">
        <tr>
          <th scope="row">{{x.id}}</th>
         
          <td>{{x.username}}</td>
          <td> <button    class="btn btn-primary"  (click)="accept(x,x.id)" >Recovery</button></td>
        </tr>
      
      </tbody>
    </table>



  </mat-expansion-panel>
</mat-accordion>

