<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Product ID</th>
            <th>Product name</th>
            <th>Delivery status</th>
            <th>Approve request</th>
        </tr>
    </thead>
    <tbody *ngFor="let ele of Transactions">
        <tr>
            <th>{{ele.id}}</th>
            <th>{{ele.Poduct_name}}</th>
            <th>{{ele.progress}}</th>
            <th>
                <button class="btn btn-danger ml-3" (click)="approveRequest(ele)">Approve</button>
            </th>
        </tr>
    </tbody>
</table>