<app-carousel></app-carousel>
<div class="container">


    <h3>Kitchen And Dining</h3>
    <div class="row">
        <div class="col-lg-2 clo-sm-4" *ngFor="let x of ab">
            <div class="box">
                <img src="{{x.img3}}" alt="" id="img3">
                <h3>{{x.price}}</h3>
            </div>


        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <span class="txtHeading">| Best Sellers |</span>
        </div>
        <div class="row">
            <div class="col-lg-4 clo-sm-6" *ngFor="let x of bt">
                <div class="card">
                    <img src="{{x.img}}" alt="" id="img1">
                    <h5>{{x.price}}</h5>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3 clo-sm-6" *ngFor="let x of ts">
                <div class="card-">
                    <img src="{{x.img}}" alt="" id="img-">


    </div>
    <div class="row ">
        <div class="col-lg-12">
            <span class="txtHeading2">| New Arrivals |</span>
        </div>
        <div class="row">
            <div class="col-lg-4 clo-sm-6" *ngFor="let x of kt">
                <div class="card">
                    <img src="{{x.img}}" alt="" id="img1">
                    <h5>{{x.price}}</h5>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="middle">
                <span class="txtHeading3">| Shop By Price |</span>
            </div>

            <div class="row">
                <div class="col-lg-3 clo-sm-6" *ngFor="let x of ht">
                    <div class="card-">
                        <img src="{{x.img2}}" alt="" id="img2">

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <span class="txtHeading3">| Kichen Storage |</span>
        </div>
        <div class="row">
            <div class="col-lg-3 clo-sm-6" *ngFor="let x of hs">
                <div class="card-head">
                    <img src="{{x.img}}" alt="" id="img1">

                </div>
            </div>
        </div>



    </div>

</div>
