<!-- <div class="home-div" >
        <h1>elctronics</h1> 
        <div class="mens-thumbnail" *ngFor="let x of electronics" ><img src="{{x.image}}" [routerLink]="['/products']" alt=""></div>
        <br><br>
        <h1>electronics</h1>
        </div><br><br> -->
<!-- Mobiles -->
<app-carousel></app-carousel>


<!-- <div class="row mt-5 my-3" [routerLink]="['/products']" id="mens">
    <div class="col-lg-2 my-3 col-md-6 ">

        <img class="img1" src="assets/Phones/Mobile3.jpg" alt="">
    </div>
    <div class=" col-lg-2 my-3  col-md-6 ">
        <img class="img2" src="assets/Laptops/img.jpg" alt="">
    </div>
    <div class=" col-lg-2  col-md-6 my-3">
        <img class="img1" src="assets/Phones/Mobile.jpg" alt="">
    </div>
    <div class=" col-lg-6 col-md-6">
        <p class="text1 my-2">latest</p><small class="text2">featured</small>
        <p class="mt10"> elctronic gadgets </p>
        <p class="text-p">grab them till they last</p>
        <a href="#" class="mt-10" tabindex="-2">View more <mat-icon class="mat-icon">arrow_forward</mat-icon> </a>
    </div> -->
<div class="container">

</div>

<div class="row mt-5 my-3" routerLink="/products/Mobiles" id="mens">
    <div class="col-lg-2 my-3 col-md-6 ">

        <img class="img1" src="assets/Phones/Mobile3.jpg" alt="">
    </div>
    <div class=" col-lg-2 my-3  col-md-6 ">
        <img class="img2" src="assets/Laptops/img.jpg" alt="" routerLink="/products/Laptops">
    </div>
    <div class=" col-lg-2  col-md-6 my-3">
        <img class="img1" src="assets/Phones/Mobile.jpg" alt="">
    </div>
    <div class=" col-lg-6 col-md-6">
        <p class="text1 my-2">latest</p><small class="text2">featured</small>
        <p class="mt10"> elctronic gadgets </p>
        <p class="text-p">grab them till they last</p>
        <a href="#" class="mt-10" tabindex="-2" routerLink="/products/Mobiles">View more <mat-icon class="mat-icon">
                arrow_forward</mat-icon> </a>
    </div>
</div>

<div class="container ">
    <div class="row">
        <p class="text h3 text-center">Mobiles Phones</p>
        <a href="" routerLink="/products/Mobiles">
            <div class="row  row-img">
                <div class="col-lg-3 my-3 ">
                    <div class="card">
                        <img src="assets/Phones/Mobile.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Phones/Mobile1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Phones/Mobile2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Phones/Mobile3.jpg" alt="">
                    </div>
                </div>
            </div>
        </a>
    </div>
    <hr>
    <!-- Laptops -->
    <div class="container">

        <p class="text h3 text-center">Laptops</p>
        <a href="" routerLink="/products/Laptops">
            <div class="row row-img">
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Laptops/img.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Laptops/img2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Laptops/img3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 my-3">
                    <div class="card">
                        <img src="assets/Laptops/img4.jpg" alt="">
                    </div>
                </div>
            </div>
        </a>
    </div>
    <hr>
    <!-- Home appliance -->
    <div class="container">

        <p class="text h3 text-center">Home appliance</p>

        <div class="row row-img" routerLink="/products/Home appliances">
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img src="assets/Homeappliance/Homeappliance.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img src="assets/Homeappliance/Homeappliance1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img src="assets/Homeappliance/Homeappliance2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img src="assets/Homeappliance/Homeappliance4.jpg" alt="">
                </div>
            </div>
        </div>


    </div>
    <hr>
</div>