/* .home-div{
    width: 100%;
height: auto;
background-color: rgb(253, 253, 253);

text-align: center;
float: left;
}
.mens-thumbnail{
    width: 300px;
    height: 400px;
    background-color: rgb(246, 255, 246);
    float: left;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
img{
    width: 300px;
    height: 400px;
    background-color: rgb(246, 255, 246);
    float: left;
    border-radius: 10px;
    
} */
.container{
    margin-top: 20px;
   
}
.row-img:hover{
    transform: scale(1.05);
 /* box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
}
.card{
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 50px #ccc;
    width:100%;
    height: 300px;
    text-align: center;
}
.card img{
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: rgb(243, 240, 215);
}
.h2-text{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333;
}
