/* 
button{
    margin: 2px;
}
.container{
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.row{
    padding: 30px;
}
.card{
    height:250px;
    border: 2px solid gray;
    box-shadow: 0px 1px 1px 1px gray;
    position: relative;
    top: 20px;
}
.add-card{
    border: 2px dashed rgb(138, 129, 129);
    width: auto;
    height: 250px;
    text-align: center;
}
.add-card h1{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 10px;
}
small{
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0f1111;
}
.display-1{
  
    text-align: center;
    position: relative;
   top: 70px;
   left: 100px;
   color: rgb(143, 142, 138);
}
.address-card{
    padding: 15px;
    border: 1px solid rgb(189, 166, 166);
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 7px 6px -6px rgb(161, 155, 155);
}
span{

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0f1111;
}
.name{
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #0f1111;
    font-family: Arial, sans-serif;
    line-height: 20px;
} */
p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 20px;
}
.card{
    height:250px;
    border: 2px solid gray;
    box-shadow: 0px 1px 1px 1px gray;
    position: relative;
    top: 20px;
}
.add-card{
    border: 2px dashed rgb(138, 129, 129);
    width: auto;
    height: 250px;
    text-align: center;
}
.add-card h1{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 10px;
}
small{
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0f1111;
}
.display-1{
  
    text-align: center;
    position: relative;
    top: 80px;
    left: 10rem;
}
.name{
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #0f1111;
    font-family: Arial, sans-serif;
    
}
