.card{
    width: 300px;
    height: 300px;
    border: 2px dotted black;
    text-align: center;
    float: left;
    padding: 40px;
    margin: 50px;
    cursor:context-menu;
    
}
p{
    color: rgb(143, 12, 29);
}

.add-address{
    width: 300px;
    height: 300px;
    border: 2px dotted black;
    padding: 20px;
    margin: 50px;
    cursor:context-menu;
    
}
.display-1{
   position: relative;
   top: 80px;
   left: 90px;
}