<!-- //<div class="adress-disply"    *ngFor="let x of useradress">
  //  <p>{{x.fullName}}</p>
    //<p>{{x.flat}}</p>
    //<p>{{x.mobile}}</p>
    //<p>{{x.area}}</p>
    //<p>{{x.town}}</p>
    //<p>{{x.Landmark}} -->

<!-- <button (click)="deleteAddress($event,x.id)"  >delete</button>
<button (click)="selctdefault($event,x.id)"  >select defult</button>

    </p> -->
<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let x of userAddress">
            <div class="card">
              

                <div class="card-body">
                    <p>{{x.fullName}}</p>
                    <p>{{x.flat}}</p>
                    <p>{{x.mobile}}</p>
                    <p>{{x.area}}</p>
                    <p>{{x.town}}</p>
                    <p>{{x.Landmark}}</p>
                   <span></span> <button class="btn btn-danger" (click)="deleteAddress($event,x.id)">delete</button>
                    <button class="btn btn-warning"  routerLink="/adress/{{x.id}}">edit</button>
                    <button  class="btn btn-danger"  (click)="selctdefault($event,x.id)"  >select defult</button>
                </div> 
             
            </div>
        </div>
        <div class="add-address" routerLink="/adress" >
            <mat-icon class=" display-1">add</mat-icon>
        </div>
    </div>
</div>
