<!-- <div class="home-div" >
    <h1>mens fasions</h1>
    <div class="mens-thumbnail"  *ngFor="let x of mens "><img src="{{x.image}}" [routerLink]="['/products']" alt=""></div>

    <br><br>
    </div> -->
    <app-carousel></app-carousel>

<!-- mens -->
<div class="container-fluid">
    <div class="container">
        <div class="row mens-img">
            <div class="col-lg-3">
                <div class="card">
                    <img src="assets/Mens/men1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="assets/Mens/mens5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="assets/Mens/mens5.webp" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="assets/Mens/men4.jpg" alt="">
                </div>
            </div>
            <!-- <div class="col-lg-3">
            <div class="card">
                <img src="assets/Mens/mens5.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <img src="assets/Mens/mens8.jpg" alt="">
            </div>
        </div> -->
        </div>
    </div>

    <!-- womens -->

    <div class="container womens-img">

        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens6.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Women/womens.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-2">

            </div>
        </div>
    </div>
    <!-- kids -->
    <div class="container kids-div">
        <div class="row">
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/Kids/Kidsitem6.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/kids/Kidsitem1.webp" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/kids/Kidsitem2.webp" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/kids/Kidsitem3.webp" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="assets/kids/Kidsitem6.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>