<h2 class="text text-primary">All Transactions</h2>
<div style="float: right;">
   From : <input type="date" name="fromDate" id="fromDate" (change)="getFromDate($event)"> To:  <input type="date" name="toDate" id="toDate">
</div>
<table class="table table-bordered" id="excel-table">
    <thead>
        <tr class="text-center">
            <th>Product ID</th>
            <th>Name</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody *ngFor="let ele of Transactions">
        <tr class={{ele.class}}>
            <th>{{ele.id}}</th>
            <th>{{ele.Poduct_name}}</th>
            <th>{{ele.progress}}</th>
            <th>{{ele.transaction}}</th>
        </tr>
    </tbody>
</table>
<a style="cursor: pointer" (click)="exportexcel()">
    <mat-icon> cloud_download</mat-icon>
</a>