.headerTitle{
    font-size: 14px!important;
    line-height: 16px!important;
    color: #565959!important;
}

.textAllOrders h3{
    padding: 50px 0px 0px 30px;
    font-size: large;
    color: #5e2d9e;
    font-weight: 500;

}

.headerResultData{
    color:  #565959!important;
    font-size: 14px!important;
    line-height: 20px!important;
}

.headerResultDataName{
    color:  #5e2d9e!important;
    font-size: 14px!important;
    line-height: 20px!important;
}

.deleiveredDate{
    font-size: larger;
    font-weight: 700;
    color: #333;
}

.description{
    padding: 10px;
    font-size: 15px!important;
    font-weight: 400;
    color: #333;
}


.card-body .orderImage{
    vertical-align: top;
    height: 70px;
    aspect-ratio: auto 70 / 70;
    width: 70px;
    margin-bottom: 50px;
}

.orderButton{
    background-color: rgb(243, 243, 67);
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    margin: 10% 10% 3% 35%;
}

.btn-sm{
    border-radius: 20px;
    margin-left: 35%;
}

.orderTitle{
    color: #007185;
}

.mainDetails{
    margin: 20px 10% 10px 10%;
}

/* img{
    width: 150px;
    height: 150px;
}


tr{
   
    color: blue;
}
th{
    color: red;
    padding: 30px;
}
td{
    margin-left: 20px;
}
.order-class{
    text-align: center;
    padding: 50px;
}

.sortable .item{
    margin: 50px;
}

.item .imageShow{
    width: 200px;
    height: 200px;
} */