<div  class="order-class">
<table class="sortable" *ngFor="let x of myorders">
    <tr>
      <th>item Name</th>
      <th>price</th>
      <th>image</th>
    </tr>
  
    
    <tr class="item">
      <td>{{x.category}}</td> &nbsp;
      <td>{{x.price}}</td>
      <td>{{status}}</td>
      <td><img src="{{x.image}}" alt=""></td>
      <td *ngIf="!state" (click)="cancelorder(x.id)" class="btn btn-danger btn-round">cancel</td>
      <td *ngIf="state"   (click)=" reorder()" class="btn btn-danger btn-round">reorder</td>
     
    </tr>
  
    
  </table>  <a       [routerLink]="['tracking']" class="btn btn-danger btn-round">track my order</a> 

  <br><br><br>

<router-outlet></router-outlet>
</div>